[defaults] 
private_key_file=ec2.pem
remote_user = ubuntu
inventory=contrib/inventory/ec2.py

log_path = /tmp/ansible.log
local_tmp = /tmp/.ansible-workspace/tmp
remote_tmp = /tmp/.ansible-workspace/tmp

retry_files_enabled = False 
host_key_checking = False
deprecation_warnings=False
timeout = 60

callback_stdout = json
callback_whitelist = timer, json, profile_tasks
